class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :sidekiq_staged_push_jobs do |t|
      t.json :payload, null: false
      t.timestamps
    end
  end
end
